.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-input ant-input-lg{
  background-color: #6d6d6d !important;
  border-radius: 0px !important;
  color:white !important;
  width: 400px !important;

}


.ant-input-lg{
  background-color: #6d6d6d !important;
  border-radius: 0px !important;
  color:white !important;
  width: 440px !important;

}


.ant-form-item-control{
  max-width: 440px !important;
}

.ant-form-item-control-wrapper{

  max-width: 440px !important;
}


.myBtn {
	/* Font & Text */
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	letter-spacing: normal;
	line-height: 26.6px;
	text-decoration: none solid rgb(255, 255, 255) !important;
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(70, 67, 67) !important;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255) !important;

	/* Box */
	height: 42.75px;
	width: 220px;
	border: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-top: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-right: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-bottom: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-left: 1.1875px solid rgba(0, 0, 0, 0) !important;
	margin: 0px;
	padding: 7.2px 24px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0.15s ease-in-out 0s;
	outline: rgb(255, 255, 255) dashed 0px !important;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


.myRegBtn {
	/* Font & Text */
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	letter-spacing: normal;
	line-height: 26.6px;
	text-decoration: none solid rgb(255, 255, 255) !important;
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(160, 158, 158) !important;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255) !important;

	/* Box */
	height: 42.75px;
	width: 220px;
	border: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-top: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-right: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-bottom: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-left: 1.1875px solid rgba(0, 0, 0, 0) !important;
	margin: 0px;
	padding: 7.2px 24px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0.15s ease-in-out 0s;
	outline: rgb(255, 255, 255) dashed 0px !important;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}



.myFbBtn {
	/* Font & Text */
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	letter-spacing: normal;
	line-height: 26.6px;
	text-decoration: none solid rgb(255, 255, 255) !important;
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(72, 151, 204) !important;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255) !important;

	/* Box */
	height: 42.75px;
	width: 220px;
	border: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-top: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-right: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-bottom: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-left: 1.1875px solid rgba(0, 0, 0, 0) !important;
	margin: 0px;
	padding: 7.2px 24px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0.15s ease-in-out 0s;
	outline: rgb(255, 255, 255) dashed 0px !important;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.myGoogleBtn {
	/* Font & Text */
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	letter-spacing: normal;
	line-height: 26.6px;
	text-decoration: none solid rgb(255, 255, 255) !important;
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(177, 60, 60) !important;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255) !important;

	/* Box */
	height: 42.75px;
	width: 220px;
	border: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-top: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-right: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-bottom: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-left: 1.1875px solid rgba(0, 0, 0, 0) !important;
	margin: 0px;
	padding: 7.2px 24px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0.15s ease-in-out 0s;
	outline: rgb(255, 255, 255) dashed 0px !important;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


.myLgBtn {
	/* Font & Text */
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	letter-spacing: normal;
	line-height: 26.6px;
	text-decoration: none solid rgb(255, 255, 255) !important;
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(167, 73, 73) !important;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255) !important;

	/* Box */
	height: 42.75px;
	width: 220px;
	border: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-top: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-right: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-bottom: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-left: 1.1875px solid rgba(0, 0, 0, 0) !important;
	margin: 0px;
	padding: 7.2px 24px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0.15s ease-in-out 0s;
	outline: rgb(255, 255, 255) dashed 0px !important;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}



.myCmBtn {
	/* Font & Text */
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	letter-spacing: normal;
	line-height: 26.6px;
	text-decoration: none solid rgb(255, 255, 255) !important;
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(59, 59, 59) !important;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255) !important;

	/* Box */
	height: 42.75px;
	width: 220px;
	border: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-top: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-right: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-bottom: 1.1875px solid rgba(0, 0, 0, 0) !important;
	border-left: 1.1875px solid rgba(0, 0, 0, 0) !important;
	margin: 0px;
	padding: 7.2px 24px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0.15s ease-in-out 0s;
	outline: rgb(255, 255, 255) dashed 0px !important;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}





.popup-content{
	border-color:#f2f2f2 !important;
	padding:0px !important;

}

/* width */
.MyG .contents::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
.MyG .contents::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
  
  /* Handle */
.MyG .contents::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
.MyG .contents::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

  /* width */
.FollowedG .contents::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
.FollowedG .contents::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
  
  /* Handle */
.FollowedG .contents::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
.FollowedG .contents::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

.notImg::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
.notImg::-webkit-scrollbar-track {
	background: rgb(200,200,200); 
  }
  
  /* Handle */
.notImg::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
.notImg::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

.imageCarosel::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
.imageCarosel::-webkit-scrollbar-track {
	background: rgb(200,200,200); 
  }
  
  /* Handle */
.imageCarosel::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
.imageCarosel::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

